/ubuntu-xenial-16.04-cloudimg-console.log
/.vagrant
/webcms/webcms/__pycache__/*.pyc
/webcms/components
/webcms/webcms/*.pyc
/webcms/yacms/__pycache__/*.pyc
/webcms/yacms/migrations/__pycache__/*.pyc
/forum/forum/wsgi.py
/django-machina
/forum/forum/local_settings.py
/forum/forum/__pycache__/*.pyc
